<launch>
    <arg name="devport" value="/dev/ttyUSB0" />
    <node pkg="rosserial_server" name="serial_node" type="serial_node" output="screen" >
        <param name="baud" value="921600" />
        <param name="port" value="$(arg devport)" />
    </node>
    <node pkg="rosserial_python" type="message_info_service.py" name="rosserial_message_info" />

    <node pkg="jsk_imu_mini_demo" name="sample_rpy_printer" type="sample_rpy_printer" output="screen"
        args="/imu /base" />

    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find jsk_imu_mini_demo)/config/marker.rviz" />
</launch>
